<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper  namespace="com.stevelee.springmvc.mb.UserDao">

    <insert id="insertUser" parameterType="com.stevelee.springmvc.mb.UserDto">
        INSERT INTO `202104_academy`.`user` (`id`, `pw`) VALUES (#{id}, #{pw})
    </insert>
    
    <select id="selectOneUser" resultType="com.stevelee.springmvc.mb.UserDto">
    	SELECT * FROM user where id = #{id}
    </select>
    
    <insert id=""></insert>

	<update id=""></update>
	
	<delete id=""></delete>
	
</mapper>
